.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0be4b8;
}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
    padding: 3px;
    font-size: 16px;
    margin-right: 0px;
}

    .todoListMain .theList li {
        color: #333;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        margin: 0px;
        display: list-item;
    }

        .todoListMain .theList li:hover button {
            display: inherit;
            cursor: pointer;
            float: right;
        }

        .todoListMain .theList li button {
            display: none;
        }

ul.theList {
    padding: 0;
}
